<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>
    <footer class="bg-gray-100">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
            <div class="footer-left mb-12 md:mb-0">
                <h2 class="mb-5 uppercase text-lg">About us</h2>
                <p class="text-gray-700">Lorem ipsum blal bla ..</p>
            </div>
        </div>
    </footer>
    
</body>
</html>